services:
  # 1. Orion-LD Context Broker
  orion:
    image: fiware/orion-ld
    ports:
      - "1026:1026"
    command: -dbhost mongo -logLevel DEBUG
    depends_on:
      - mongo

  # 2. MongoDB (For Orion's current state)
  mongo:
    image: mongo:4.4
    ports:
      - "27017:27017"
    command: --nojournal
    volumes:
      - mongo-db:/data/db

  # 3. QuantumLeap (The Connector for History)
  quantumleap:
    image: orchestracities/quantumleap
    ports:
      - "8668:8668"
    environment:
      - POSTGRES_HOST=timescale
      - POSTGRES_PORT=5432
      - POSTGRES_DB_NAME=postgres
      - POSTGRES_DB_USER=postgres
      - POSTGRES_DB_PASS=password
      - QL_DEFAULT_DB=timescale 
    depends_on:
      - timescale

  # 4. TimescaleDB (This IS PostgreSQL + TimeSeries plugin)
  timescale:
    image: timescale/timescaledb:latest-pg12
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  mongo-db:
  postgres-db: